/* bootstrap overwrite */
body {
  background-color: #eeeeee;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

a {
  color:#aaa;
}

nav {
  padding-top: 20px;
}

.form-group {
  margin: 0;
}

/* styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: 0;
}

.header {
  background-color: #223355;
}

.task-list {
  max-width: 800px;
}

.tasklist-top {
  margin: auto;
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
}

.task-card {
  background-color: white;
  padding: 2rem 3rem 2rem 3rem;
  margin: 1rem;
  color: #aaa;
  border-radius: 0.5rem;
  height: 15rem;
}

.card-space {
  padding: 0.5rem;
}

.center-children {
  margin: auto;  
}

.fa-ellipsis-v {
  padding: 0.5px;
}

.left-padding {
  padding: 0 0 0 1rem;
}
