/* bootstrap overwrite */
body {
  background-color: #eeeeee;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

a {
  color:#aaa;
}

nav {
  height: 40px;
  background-color: #223355;
}

.form-group {
  margin: 0;
}

.btn-primary {
  background-color: #66bb66;
  border-color: #66bb66;
}

.btn.btn-primary[disabled] {
  background-color: #999999;
}

/* styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: 0;
}

.task-list {
  max-width: 800px;
}

.tasklist-top {
  margin: auto;
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
}

.task-card {
  background-color: white;
  padding: 2rem 3rem 2rem 3rem;
  margin: 1rem;
  color: #aaa;
  border-radius: 0.5rem;
  height: 15rem;
}

.card-space {
  padding: 0.5rem;
}

.center-children {
  margin: auto;  
}

.fa-ellipsis-v {
  padding: 0.5px;
}

.left-padding {
  padding: 0 0 0 1rem;
}

.pointer-cursor {
  cursor: pointer;  
}

.fa-trash-o:hover {
  color: green;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.error {
  margin-left: 30vw;
  margin-right: 30vw;
  padding: 3rem;
  margin-top: 10vh;
  border: 3px solid #aaa;
  align-self: center;
  vertical-align: middle;
  text-align: center;
  font-size: 2rem;
  color: #aaa;
}

.floater {
  right: 1rem;
  bottom: 20vh;
  height: 4rem;
  width: 30rem;
  background-color: rgba(0, 150, 100, 0.3);
  position: absolute;
  border: 1px solid rgba(0, 150, 100, 0.4);
  border-radius: 0.5rem;
  padding: 1rem;
  color: rgba(0, 100, 50, 0.5);
}
