/* bootstrap overwrite */
body {
  background-color: rgba(245, 247, 249, 1);
  font-family: Calibri, Helvetica, Candara, Optima, Arial, sans-serif;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

a {
  color:#aaa;
}

nav {
  height: 40px;
  background-color: rgba(50, 64, 81, 1);
}

.form-group {
  margin: 0;
}

.btn {
  color: rgba(251, 255, 252, 1);
  margin-left: 0.5rem;
  background-color: rgb(124, 140, 158);
}

.btn-primary {
  background-color: rgba(138, 209, 166, 1);
  border-color: rgba(138, 209, 166, 1);
}

.btn:focus {
  background-color: rgba(138, 209, 166, 1);
  border-color: rgba(138, 209, 166, 1);
}

.btn:active {
  background-color: rgba(138, 209, 166, 1);
  border-color: rgba(138, 209, 166, 1);
}


/* styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: 0;
}

.task-list {
  max-width: 800px;
}

.tasklist-top {
  margin: auto;
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
  color: rgba(59, 73, 112, 1);
}

.task-card {
  background-color: white;
  padding: 2rem 3rem 2rem 3rem;
  margin: 1rem;
  color: #aaa;
  border-radius: 1rem;
  border: 2px solid #eee;
  height: 15rem;
}

.card-space {
  padding: 0.5rem;
}

.center-children {
  margin: auto;  
}

.fa-ellipsis-v {
  padding: 0.5px;
}

.left-padding {
  padding: 0 0 0 1.5rem;
}

.pointer-cursor {
  cursor: pointer;  
}

.fa-trash-o:hover {
  color: green;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.error {
  margin-left: 30vw;
  margin-right: 30vw;
  padding: 3rem;
  margin-top: 10vh;
  border: 3px solid #aaa;
  align-self: center;
  vertical-align: middle;
  text-align: center;
  font-size: 2rem;
  color: #aaa;
}

.floater {
  right: 1rem;
  top: 70vh;
  height: auto;
  width: 45vw;
  position: absolute;
  border-radius: 0.5rem;
  padding: 1rem;
}

.green {
  background-color: rgba(248, 255, 251, 1);
  border: 1px solid rgba(138, 209, 166, 1);
  color: rgba(138, 209, 166, 1);  
}

.red {
  background-color: rgba(255, 248, 251, 1);
  border: 1px solid rgba(209, 138, 166, 1);
  color: rgba(209, 138, 166, 1);  
}